<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sonhyejin.save_shuttlebus">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".T_main" />
        <activity android:name=".P_main" />
        <activity android:name=".H_Main" />
        <activity android:name=".H_Main_View" />
        <activity android:name=".H_Main_Register" />
        <activity android:name=".Login" />
        <activity android:name=".T_main_QRScan" />
        <activity android:name=".H_Main_Register_bus" />
        <activity android:name=".H_Join" />
        <activity android:name=".H_Main_Register_child" />
        <activity android:name=".H_Wait" />
        <activity android:name=".H_Main_Register_Teacher" />
        <activity android:name=".H_Main_View_bus" />
        <activity android:name=".H_Main_View_child" />
        <activity android:name=".H_Main_View_Teacher" />
        <activity android:name=".T_main_Totalchild" />
        <activity
            android:name=".DialTeach"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".AskingTaking"
            android:theme="@style/Theme.AppCompat.Dialog"></activity>
    </application>

</manifest>